h1, h3, a {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  padding: 0.5rem;
}

footer {
  text-align: center;
}

body, .album {
  background-color: #f0ffff;
}

/* Home Page */

.links {
  text-align: center;
  padding: 3%;
}

.btn {
  background-color: white;
  margin: 1%;
  border: 1px solid #e5e5e5;
  min-width:250px
}

/* Villager Gift Guide */

.row {
  justify-content: center;
}

.container-fluid {
  width: 80%;
  margin: auto;
}

.card {
  background-color: #fcfccc;
  border: 2px solid black;
  border-radius: 15px;
  height: 100%;
  justify-content: space-between;
  box-shadow: 1px 1px;
}

.card-body {
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  flex: 0 1 auto;
}

.card-text {
  text-align: center;
}

.gifts {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

.gifts img {
  width: 85%;
}

.gifts .romance {
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.villager-birthday, .fishing-time {
  opacity: 0.5;
}

.universal-loves {
  width: 40%;
  margin: 16px auto;
}

/* Tooltip container */
.mytooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.mytooltip .mytooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
}

.mytooltip:hover .mytooltiptext {
  visibility: visible;
}

.mytooltip .mytooltippic {
  visibility: hidden;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -200px;
}

.mytooltip:hover .mytooltippic {
  visibility: visible;
}

/* Fishing Guide */

.fish {
  padding: 1rem;
  text-align: center;
  flex-shrink: 1;
}

.fish-location {
  flex:1 0 auto;
  padding: 1rem;
  text-align: center;
  border-top: 2px solid black;
}

.weather {
  position:absolute;
  bottom: 0;
  right: 0;
}

.title {
  text-align: center;
  padding: 2%;
}

.legendary {
  width: 250%;
}

.filters-card {
  justify-content: flex-start;
  padding: 2%;
  box-shadow: 0 0;
}

.filters {
  padding: 3%;
}

/* Community Center Guide */

.table {
  table-layout: fixed;
  word-wrap: break-word;
  border: 2px solid black;
  box-shadow: 1px 1px;
}

.bundle-table {
  padding: 1% 15%;
}

.bundle-table .title {
  text-align: center;
  padding: 1%;
}

.high-priority {
  background-color: #fff0f5;
}

.medium-priority {
  background-color: #fffff0;
}

.low-priority {
  background-color: #f0fff0;
}

.completed {
  background-color: #8fbc8f;
  font-weight: bold;
}

.directions {
  display: block;
}

.spring-head {
  background-color: #98fb98;
}

.summer-head {
background-color: #fffdd0;
}

.fall-head {
background-color: #ffc87c;
}

.winter-head {
background-color: #e0ffff;
}

.any-season-head, .any-season-optional-head {
background-color: #ffffff;
}
